body {
  font-family: sans-serif; 
  background-color: #fff;
  color: white;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-rows: 100px 1fr 1fr 1fr 100px;
  grid-template-columns:  1fr;
  grid-template-areas: 
    "logo"
    "header"
    "weatherapp"
    "map"
    "footer";
}

.logo {
  grid-area: logo;
}
.logo-style {
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
}
.stappenplan {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.header {
  grid-area: header;
  height: 50vh;

}
#body {
  background-image: url('../images/background-mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#map {
  height: 100vh;
  width: 100vw;
  margin: 10px;
}
.map {
    grid-area: map;
}

article {
  padding: 20px;
  font-family: Arial;
  font-size: 1.125em;
  line-height: 28px;
}
.footer {
  grid-area: footer;
}

/*aantal kilometers styling*/

.distance-container {
top: 10px;
left: 10px;
z-index: 1;
}
 
.distance-container > * {
background-color: rgba(0, 0, 0, 0.5);
color: #fff;
font-size: 2em;
line-height: 18px;
display: block;
margin: 0;
padding: 5px 10px;
border-radius: 3px;
}
/*end aantal kilometers*/
/*het weer display*/

.weatherapp{
  grid-area: weatherapp;
}
.container{
    width: 400px;    
    background-color: transparent;
    
    display: block;
    margin: 0 auto;
    
    border-radius: 10px;
    padding-bottom : 50px;
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    font-family: 'Bree Serif', serif;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #000;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #000;
    font-size: 1.6em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    height: 160px;
    background-color: transparent;
}

.weather-icon{
    width: 300px;
    height: 128px;
    margin: 50px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
    width: 200px;
}

.temperature-value{
    width: 300px;
    height:60px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value span{
    color: #000;
    font-size: 0.5em;
}

.temperature-description p{
    font-family: 'Arial Bold', sans-serif;
    padding: 20px;
    margin: 0;
    color: #000;
    text-align: center;
    font-size: 1.2em;
}

/*end het weer*/


.mapboxgl-popup-close-button {
  font-size: 16px;
  color: #fff;
}
.mapboxgl-popup-content {
  padding: 20px 25px 15px 20px;
  color: #fff;
  background-color: #175641;
}
.mapboxgl-popup-content h3 {
  margin-top: 0;
  margin-bottom: 4px;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #175641;
} 



@media screen and (min-width: 600px){
/*tablet*/

  .welkom {
    width: 250px;
  }
  #map {
  height: 80vh;
  width: 90vw;
  margin: 0 auto;
  }
  .stappenplan {
  width: 68%;
  }

}

@media screen and (min-width: 900px){
/*laptop*/
  body {
    display: grid;
    grid-template-rows: 100px 1fr 1fr 100px;
    grid-template-columns:  1fr 1fr;
    grid-template-areas: 
    "logo logo"
    "header weatherapp"
    "map map"
    "footer footer";
  }
  #body {
  background-image: url('../images/background-desktop.png');
  }
  .stappenplan {
  width: 90%;
  }
}

@media screen and (min-width: 1200px){
/*laptop*/
  .stappenplan {
  width: 80%;
  }
}
